
@model WEB_Hieu_Quy.Models.TAI_KHOAN
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/layout_KhachHang.cshtml";
}

<link href="~/assets/CauHieu/css/login.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <main>
        @Html.AntiForgeryToken()
        <div class="container">
            <h1>Đăng nhập</h1>
            <form action="" @*onsubmit="return validateForm()"*@>
                <div class="form-group">
                    <div class="col-md-10" style=" color: red; font-size: 20px">
                       @TempData["loidangnhap"]
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <a href="~/Accountt/QuenMK" style="float:left">Quên mật khẩu</a>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="" class="btn-lg" id="btn-login">  Đăng Nhập </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
}

