@model WEB_Hieu_Quy.Models.SAN_PHAM_CHI_TIET

@{
    ViewBag.Title = "ThemMoiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}



<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới Sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Add", "SanPhamChiTiet", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaDanhMuc, null, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("MaDanhMuc", ViewBag.MaDanhMuc as SelectList, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GiaGoc, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.GiaGoc, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.GiaGoc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhanTramSale, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PhanTramSale, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PhanTramSale, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MoTaChiTiet, @*htmlAttributes:*@ new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.MoTaChiTiet, new { @class = "form-control", @id = "txtMoTaChiTiet" })
                                                @Html.ValidationMessageFor(model => model.MoTaChiTiet, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsHome, new { @class = "custom-control-input", @id = "IsHomeCheckbox" })
                                                            <label for="IsHomeCheckbox" class="custom-control-label">Home</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="col-3">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsSale, new { @class = "custom-control-input", @id = "IsHotCheckbox2" })
                                                            <label for="IsHotCheckbox2" class="custom-control-label">Sale</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                            </div>
                                            <div class="col-md-12">
                                                <table class="table table-hover" id="tbAnhSanPham">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Ảnh</th>
                                                            <th class="text-center">Ảnh đại diện</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHtml">
                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="tCurrentId" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Thêm mới</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section  scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });
           

            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                        <td class="text-center">${currentId}</td>
                        <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
                        <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked="checked"/></td>
                        <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr>`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                        <td class="text-center">${currentId}</td>
                        <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
                        <td class="text-center"><input type="radio" name="rDefault" value="${currentId}"/></td>
                        <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr>`;
            }
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            $('#tbHtml').find(`#trow_${currentId} .btnXoaAnh`).click(function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        }

        $(document).ready(function () {
            CKEDITOR.replace('txtMoTaChiTiet', {
                customConfig: '~/assets/ckeditor/config.js',
                extraAllowedContent: 'span',

            });
        });

    </script>
}