@model IEnumerable<WEB_Hieu_Quy.Models.CHUC_VU>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<table class="table">
    <div class="row">
        <!-- Datatables -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 25px">Danh sách danh mục sản phẩm</h6>
                    @Html.ActionLink("Thêm mới quyền", "ThemQuyen", null, new { @class = "btn btn-success" })
                </div>
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush" id="dataTable">
                        <thead class="thead-light">
                            <tr>
                                <th>STT</th>
                                <th>Tên Quyền</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var i = 1;
                                foreach (var item in Model)
                                {


                                    <tr>
                                        <td>@i</td>
                                        <td>  @Html.DisplayFor(modelItem => item.TenChucVu)</td>

                                        <td>  @Html.ActionLink("Edit", "SuaQuyen", new { id = item.MaChucVu })</td>
                                        <td><a href="#" data-id="@item.MaChucVu" class="btn btn-sm btn-danger btnDelete">Xóa</a></td>
                                    </tr>
                                    i++;
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Không có bản ghi nào!!!</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</table>
