@model IEnumerable<WEB_Hieu_Quy.Models.CHI_TIET_PHIEU_NHAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEU_NHAP.MaPhieuNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAN_PHAM_CHI_TIET.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEU_NHAP.MaPhieuNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAN_PHAM_CHI_TIET.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTPN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTPN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTPN })
        </td>
    </tr>
}5

</table>
