@model IEnumerable<WEB_Hieu_Quy.Models.SAN_PHAM_CHI_TIET>
@using WEB_Hieu_Quy.Common
@{
    Layout = "~/Views/Shared/layout_SanPham.cshtml";

}

<link href="~/assets/CauHieu/css/product.css" rel="stylesheet" />
<div class="products">
    <div class="daily-hot-deals-content-gird">
        <ul class="daily-hot-deals-content-row">
            @if (Model.Any())
            {
                var i = 1;

                foreach (var item in Model)
                {

                    <li class="daily-hot-deals-content-item" data-name="a-5">
                        <a href="~/ListSanPham/ChiTietSanPham/@item.MaSP"><img src="@Url.Content(item.HinhAnhChinh)" alt=""></a>
                        <div class="background"></div>
                        <div class="content">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#">Mua ngay</a>
                        </div>
                        <div class="product_detail">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="~/ListSanPham/ChiTietSanPham/@item.MaSP">@item.TenSanPham</a>
                            <div class="price">
                                <p class="cost"> @Common.FormatNumber(item.GiaBan, 2) đ</p>
                                <p class="sale">@Common.FormatNumber(item.GiaGoc) đ</p>
                                <p class="discount">@item.PhanTramSale %</p>
                            </div>
                            <h5>Có 2 lựa chọn quà tặng khi mua sp</h5>
                        </div>
                    </li>
                    i++;
                }
            }
            else
            {
                <h5>Sản phẩm đang được cập nhật</h5>
            }

        </ul>
        <ul class="listPage">
        </ul>
        <script src="~/assets/CauHieu/js/phantrang.js"></script>
        <script src="~/assets/CauHieu/js/card.js"></script>
    </div>
</div>

