@model WEB_Hieu_Quy.Models.DANH_MUC_SAN_PHAM

@{
    ViewBag.Title = "ThemDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

<h2>Thêm mới danh mục</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên Danh Mục
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDangMuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDangMuc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Hình Ảnh
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover" id="tbAnhSanPham">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Ảnh</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="tbHtml">
                            </tbody>
                        </table>
                        <input type="hidden" id="tCurrentId" value="0" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });
            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                                                            <td class="text-center">${currentId}</td>
                                                            <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Image"/></td>
                                                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                                                            </tr>`;
            }
          
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            $('#tbHtml').find(`#trow_${currentId} .btnXoaAnh`).click(function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        }

    </script>
}
